body{
    background-color: grey;
}
.main {
    display: flex;
    max-width: 650px;
    padding: 0px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
}
/*         buttons      */
.button-container img{
    width: 25px;
}
.button-container button{
    border: none;
    background-color: white;
    cursor: pointer;
}
.down-button button:hover{
    background-color: red;
    border-radius: 25px;
    transition: 1.3s;
}
.up-button button:hover{
    background-color: #40eb34;
    border-radius: 25px;
    transition: 1.3s;
}
.button-container button:active{
    background-color: grey;
    border-radius: 25px;
    transition: 0s;
}
.button-container{
    display: flex;
    margin: 25px 20px;
    width: 70%;
    justify-content: space-around;
}
.action-button-container button{
    font-size: 30px;
    width: 120px;
    padding: 3px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    border: none;
}
.action-button-container button:hover{
    color: black;
    transition: 1.5s;
}

.action-button-container :nth-child(1){
    background-color:#40eb34;
}
.action-button-container :nth-child(2){
    background-color: red;
}
.action-button-container :nth-child(3){
    background-color: #347aeb;
}

/*      style       */
h1{
    font-size: 35px;
}
p{
    font-size: 60px;
    margin: 0;
}
.container{
    border: solid black 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 25px;
    margin: 10px;
    padding-bottom: 15px;
    background-color: white;
}

.date{
    font-size: 30px;
}

